* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #6597A6;
}

header {
  height:3em;
  color: rgb(0, 0, 0);
  margin-bottom: 3em;
  text-align: center;
}

fieldset {
  border: 0;

}

label {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  
}


.container {
  width: 50%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding: 1em;
  border: 0.1em #ffffff solid;
  background-color: #9FB8BF;
  border-radius:10px;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.2em;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  margin: 1em;
  display: inline-block;
  font-size: 1em;
}

  .images {
    width: 85%;
    padding-bottom: 10px;
  }

.gif {
 width: 85%;
 padding-bottom: 10px;
}

button {
  font-size: 18px;
  font-weight: 500;
  color:rgb(255, 255, 255);
  background: #4C727D;
  border: 0;
  border-radius:3px;
  margin-bottom: 5%;
  display: block;
  margin: auto;
 

}

.button:hover {
 background-color: rgb(101, 166, 184);
}

@media only screen and (min-width: 320px)  {

.scoreboard {
margin-top: 10%;
}

.container {
    width: 90%;
    margin-top: 25%;
    margin-bottom: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border: 0.1em #ffffff solid;
    background-color: #9FB8BF;
    border-radius:10px;
  }
   .images {
    width: 85%;
  }
    .gif {
    width: 85%;
  }

    .button {
    margin-top: 0.5em;
    font-size: 1em;
    width: 4em;
    height: 2em;
    display: inline-block;
  }

}
@media only screen and (min-width: 550px) {
.scoreboard {
margin-top: 0%;
}

.container {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border: 0.1em #ffffff solid;
    background-color: #9FB8BF;
    border-radius:10px;
}

   .images {
    width: 55%;
  }

.gif {
  margin-bottom: 1em;
  width: 25em;;
}

.button {
  margin-top: 0.5em;
  font-size: 1em;
  width: 8em;
  height: 2.5em;
  display: block;
  margin: auto;
  }

}